@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
  padding: 0;
  margin: 0;
}

@theme {
  --color-primary: #00a651;
  --color-primary-dull: #daf2e5;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

body[dir='rtl'] {
  direction: rtl;
  text-align: right;
}

body [dir="rtl"] .rtl-flip{
  transform: scaleX(-1);
}